fieldset {
  position: relative;
  z-index: 1;
  background: white;
  margin: 20px auto;
  padding: 10px 20px 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-style: outset;
}

fieldset legend {
  border-style: outset;
  background-color: white;
  padding: 6px 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  /* user-select: none; */
}

fieldset input[type='text'] {
  padding: 6px;
  margin-bottom: 5px;
}

fieldset .repo-message-anchor {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: orange;
  padding: 2px;
  visibility: hidden;
  /* display: none; */
}

fieldset .repo-message-anchor:hover {
  background-color: orangered;
}

.repo-issue {
  margin: 2px;
}

.repo-issue-comment {
  margin-left: 20px;
}

.repo-msg-info {
  padding: 2px 4px;
  border-radius: 2px;
  animation: hide-it 0.5s 1;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  background-color: skyblue;
}

@keyframes hide-it {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}