<h1>Welcome to Repo Server.</h1>
<p class="page-par">You can login to GitHub from the upper right corner, and navigate using the menu.</p>
<p class="page-par">After logging-in using GitHub, a new link to your repositories will appear in the
  upper right corner, where you can see the status of your repositories.</p>
<h2>This app's github repository issues can be seen here:</h2>